[Desktop Entry]
Type=Application
Name=Cursorpop
Comment=Efectos animados del cursor (daemon)
Comment[en]=Animated cursor effects (daemon)
Exec=cursorpop-settings --tray
Icon=input-mouse
Terminal=false
Categories=
NoDisplay=true
X-GNOME-Autostart-enabled=true
